.calculator {
    width: 240px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-image: url(./materials/image.png);
}
input[type="button"] {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
}
.operation{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(101, 222, 82);

}
.determinate{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(231, 13, 17);
}
.display{
    width: 220px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.5em;
    background-image: url(./materials/image_2.jpg);

}